{% extends "base.html.twig" %}

{% block body %}
    <h1>create</h1>

    {{ form(auteurForm) }}

   {#
   {{ form_start(auteurForm) }}

    <div class="form-control">
        {{ form_label(auteurForm.firstName) }}
        {{ form_widget(auteurForm.firstName) }}

        <small>{{ form_help(auteurForm.firstName) }}</small>

        <div class="form-error">
            {{ form_errors(auteurForm.firstName) }}
        </div>
    </div>
    {{ form_end(auteurForm) }}
   #}

{% endblock %}
