{% extends "base.html.twig" %}

{% block body %}
    <div class="d-flex flex-column justify-content-around align-items-center">
        <h1>detail</h1>
        {#<li>{{ auteur.id }}</li>#}
        <h2>{{ auteur.firstName }}</h2>
        <p>{{ auteur.lastName }}</p>
        <a href="{{ path('auteur_update', {'auteurId': auteur.id}) }}">update</a>
        <a href="{{ path('auteur_delete',{'auteurId': auteur.id}) }}">delete</a>
    </div>
{% endblock %}
