
	<header>
		<nav class="bg-dark d-flex justify-content-around ">
			<ul>
				<h2>article</h2>
				<a href="{{ path('blog_create') }}">
					<li>create</li>
				</a>
				<a href="{{ path('blog_read_all') }}">
					<li>read all</li>
				</a>
			</ul>
			<ul>
				<h2>auteur</h2>
				<a href="{{ path('auteur_create') }}">
					<li>create</li>
				</a>

				<a href="{{ path('auteur_read_all') }}">
					<li>read all</li>
				</a>
			</ul>
			{% if app.user %}
				<a href="{{ path('app_logout') }}">logout</a>
			{% else %}
			<a href="{{ path('app_login') }}">login</a>
			<a href="{{ path('app_register') }}">register</a>
			{% endif %}

		</nav>
	</header>

